.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#btnInput, #btnFilter{
  background: none;
  border: 2px solid white;
  color: white;
  width: 20vmin;
  height: 5vmin;
  cursor: pointer;
  border-radius: 2vmin;
}

#btnSubmit:hover{
  background-color: white;
  color:#282c34;
}

.divCaja{
  border: 2px solid white;
  margin: 2vmin;
  padding: 2vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
